body {
    background: linear-gradient(30deg, #0b111a 0%, #0b111a 15%, #01275d 50%, rgb(67, 14, 79) 85%, #0b111a 100%);
    -webkit-background: linear-gradient(30deg, #0b111a 0%, #0b111a 15%, #01275d 50%, rgb(67, 14, 79) 85%, #0b111a 100%); /* For Safari and Chrome */
    -moz-background: linear-gradient(30deg, #0b111a 0%, #0b111a 15%, #01275d 50%, rgb(67, 14, 79) 85%, #0b111a 100%); /* For Firefox */
    position : relative;
}

.container{
position : absolute;
border : 2px solid black;
top :0px;
left : 5rem;
display:flex;


align-item:center;
flex-wrap :wrap;
height:10rem;

}

.vertical-line {
  border-left: 3px dashed white; /* Create the dotted line */
  height: 100px; /* Set the height of the line */
}

.v-l-text {
color : white;
font-size: 20px;
position : absolute;
top : 6rem;
left : 3.6rem;
transform : rotate(270deg);
}

.Home-nav {
color:white;
}
.Home-nav-ul{
list-style-type : disc;
padding-left :6rem;
}
.Home-nav-ul-li{
padding-top :20px;
}

.container-vertical-line{
position:fixed;
bottom :0px;
left:5rem;
}

.vertical-line-bottom{
 border-left: 3px solid white; /* Create the dotted line */
  height: 100px;
}

.v-l-text-bottom{
color:white;
font-size: 20px;
position : absolute;
bottom:3rem;
left:5.5rem;
}

.v-l-b-right{
position:fixed;
bottom :0px;
right:5rem;
}

.vertical-line-bottom-right{
 border-left: 3px solid white; /* Create the dotted line */
  height: 100px;
}

.v-l-text-bottom-right{
color:white;
font-size:20px;
position:absolute;
bottom:3rem;
right:5.5rem;
}

.explore{
position:fixed;
bottom:10px;
right:45%;

}